<a href="https://colab.research.google.com/github/somanath9094/aimlcourse/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name = 'Somanath Reddy'
name2 = 'Somanath Reddy Palle'
print(name)
print(name2)

Somanath Reddy
Somanath Reddy Palle

In [3]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

sum = num1 + num2
diff = num1 -  num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", diff)
print("Product:", product)
print("Quotient:", quotient)
print(num1 == num2)

Enter the first number: 21
Enter the second number: 21
Sum: 42.0
Difference: 0.0
Product: 441.0
Quotient: 1.0
True

DataTypes:
list
tuples
Dictionaries
sets

In [ ]:
#list
# it is a collection of mutuable and ordered items.
# mutuable items can be modified.

lst = []
print(lst[1:])
print(lst[1:3])
print(lst[1:7 : 2])

In [14]:
fruits = ["apple", "banana", "cherry","date", "elderberry", "fig", "grape"]
print(fruits[1 : 5 : 3])
print(fruits[1 :  : 2])
print(fruits[2 : 5 : 2])
print(fruits[-2 : -6 : -1])

['banana', 'elderberry']
['banana', 'date', 'fig']
['cherry', 'elderberry']
['fig', 'elderberry', 'date', 'cherry']

In [ ]:
fruits = ["apple", "banana", "cherry","date", "elderberry", "fig", "grape"]

In [18]:
#list comprehension
# create a lsit based on a logic or a rule or any linear syntax



lst1 = [x* x for x in range(6)]
print(lst1)

[0, 1, 4, 9, 16, 25]

In [20]:
sq_rt = [x ** 0.5 for x in range(51)]
print(sq_rt)

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795, 3.3166247903554, 3.4641016151377544, 3.605551275463989, 3.7416573867739413, 3.872983346207417, 4.0, 4.123105625617661, 4.242640687119285, 4.358898943540674, 4.47213595499958, 4.58257569495584, 4.69041575982343, 4.795831523312719, 4.898979485566356, 5.0, 5.0990195135927845, 5.196152422706632, 5.291502622129181, 5.385164807134504, 5.477225575051661, 5.5677643628300215, 5.656854249492381, 5.744562646538029, 5.830951894845301, 5.916079783099616, 6.0, 6.082762530298219, 6.164414002968976, 6.244997998398398, 6.324555320336759, 6.4031242374328485, 6.48074069840786, 6.557438524302, 6.6332495807108, 6.708203932499369, 6.782329983125268, 6.855654600401044, 6.928203230275509, 7.0, 7.0710678118654755]

In [22]:
import math

In [23]:
sqrt = [math.sqrt(x) for x in range(51)]
print(sqrt)

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795, 3.3166247903554, 3.4641016151377544, 3.605551275463989, 3.7416573867739413, 3.872983346207417, 4.0, 4.123105625617661, 4.242640687119285, 4.358898943540674, 4.47213595499958, 4.58257569495584, 4.69041575982343, 4.795831523312719, 4.898979485566356, 5.0, 5.0990195135927845, 5.196152422706632, 5.291502622129181, 5.385164807134504, 5.477225575051661, 5.5677643628300215, 5.656854249492381, 5.744562646538029, 5.830951894845301, 5.916079783099616, 6.0, 6.082762530298219, 6.164414002968976, 6.244997998398398, 6.324555320336759, 6.4031242374328485, 6.48074069840786, 6.557438524302, 6.6332495807108, 6.708203932499369, 6.782329983125268, 6.855654600401044, 6.928203230275509, 7.0, 7.0710678118654755]

In [ ]:
#Nested Lists

In [24]:
matrix  = [[1,2,3],[4,5,6],[7,8,9]]

print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [25]:
matrix[2][2]

9

In [28]:
multile = [[i * j for j in range(1,6)] for i in range(1,3)]
print(multile)

[[1, 2, 3, 4, 5], [2, 4, 6, 8, 10]]

In [1]:
marks = [98, 95, 100, 100, 50, 56, 80]

# Corrected variable name
total_sum = sum(marks)  # Use built-in sum() function

print("Sum:", total_sum)
print("Max:", max(marks))
print("Min:", min(marks))
print("Average:", total_sum / len(marks))  # Corrected average calculation
print("Count:", len(marks))

Sum: 579
Max: 100
Min: 50
Average: 82.71428571428571
Count: 7

In [3]:
# upacking with *
numbers = (1,2,3,4,5,6,7,8,9)

start, middle , *end = numbers

print(start, end)

1 [3, 4, 5, 6, 7, 8, 9]

In [7]:
lst = [[1,2,3,4,5],[6,7,8,9,0],['hi','hello','tata']]
print(lst[1][1],lst[2][0])

7 hi

In [8]:
lst2 = [[1,2,3,4,5],[6,7,8,9,0],('hi','hello','tata')]
print(lst2[1][1],lst2[2][0])

7 hi